.hero {
	padding: 80px 8%;
	background-color: var(--color-background);
}
.hero-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 48px;
	max-width: 1200px;
	margin: auto;
}
.hero-image img {
	width: 100%;
	max-width: 520px;
	height: 420px;
	display: block;
	margin-left: auto;
	object-fit: cover;
	border-radius: 16px;
}

@media (max-width: 768px) {
	.hero-content {
		grid-template-columns: 1fr;
		text-align: center;
	}
	.hero-image img {
		height: 300px;
		margin: 0 auto;
	}
}
